:root {
  /* colors */
  --color-black: hsla(0, 0%, 8%, 1);
  --color-accent-green: hsla(154, 71%, 59%, 1);
  --color-dark-grey: hsla(0, 0%, 14%, 1);
  --color-grey: hsla(0, 0%, 85%, 1);
  --color-white: hsla(0, 0%, 100%, 1);
  --color-red: hsla(7, 100%, 68%, 1);
}

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: var(--color-black);
  color: var(--color-white);
  margin:0;
}
.link {
  text-decoration: none;
  color: var(--color-white);
}
.link:hover{
  color: var(--color-accent-green);
  }
  .link:focus{
    color: var(--color-accent-green);
    }
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  min-width: 320px;
  max-width: 375px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: auto;
  margin-left: auto;
}
.section {
}
.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;}
/**
  |============================
  | header
  |============================
*/
.header {
  
}
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
 padding-top: 20px;
  position: relative;
  max-height: 363px;
  
}

.header-text {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -0.021em;
  margin-bottom: 20px;
}
.header-socials {
  display: flex;
  gap: 18px;
  margin-bottom: 40px;
  max-width: 154px;
  z-index: 20;

}
.header-social-link
{
  color: var(--color-white);
  z-index: 30;
 
}
.header-social-link:hover{
  color: var(--color-accent-green);
}

.header-social-link:focus{
  color: var(--color-accent-green);
}

.header-icon{
fill: currentColor;
z-index: 40;

}


.profile-image{
  display: block;
  position: relative;
  top: -141px;
 z-index: 10;
 
}
.oval{
  position: absolute;
  top: 124px;
  left: -16px;
}
.half-circle{
  position: absolute;
  top: 254px;
  left: 311px;

}


/**
  |============================
  | section-intro
  |============================
*/



.section-intro {
  padding-top: 40px;
  padding-bottom: 92px;
  
}
.intro-container{
  text-align: center;
  position: relative;


}
.section-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 1;
letter-spacing: -0.028em;

}
.undertitle-line{
  position: absolute;
  top: 80px;
  left: 102px;
}
.hero-text {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 16px;
line-height: 1,6;
}

.link-contact {
  font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 1,62;
letter-spacing: 0.143em;
}



.underlink-line{
  position:absolute;
  top: 222px;
  left: 128px;
  
}

/**
  |============================
  | section-skills
  |============================
*/
.section-skills {
  padding-top: 40px;
  padding-bottom: 40px;

}
.skills-container{
  text-align: center;
  position: relative;
}
.between-sections-line{
position: absolute;
top: -40px;
left: 16px;

}
.experience-list{

}
.skill-item{
font-size: 32px;
font-weight: 700;
line-height: 1.25;
letter-spacing: -0.001em;
}

.skill-item:not(:last-child){
  margin-bottom: 24px;
}

.skill-item-descr{
  margin: 0;
font-size: 16px;
font-weight: 500;
line-height: 1.62;
color: var(--color-grey);

}

.oval-section-skills{
  position: absolute;
  top: 492px;
  left: 87px;
  
  
}
/**
  |============================
  | section-projects
  |============================
*/
.section-projects{
  padding-top: 80px;
  padding-bottom: 92px;
}

.project-container{
  position: relative;
}

.projects-header{
  display: flex;
  gap: 71px;
}
.between-sections-projects{
  top: -80px;
}

.project-title{
  margin-bottom: 0px;
}

.link-contact-project{
  padding-top: 4px;
}


.underlink-line-projects{
  position: absolute;
  top: 36px;
  left: 239px;
}

.list-projects{
  margin-top: 40px;
}

.list-project-item{
  
}

.list-project-item:not(:last-child){
margin-bottom: 52px;
}

.project-image{

}

.project-name{
margin-top: 20px;
margin-bottom: 0px;
font-size: 24px;
line-height: 1.33; 
font-weight: 700;
}

.skills-list{
  margin-top: 7px;
  display: flex;
  gap: 18px;

}
.skills-list-item{
  font-size: 18px;
font-weight: 500;
line-height: 1.55;
color: var(--color-grey);

}
.listed-links{
margin-top: 20px;
display: flex;
  gap: 32px;
  position: relative;
}
.listed-links-item{
  font-size: 16px;
  font-weight: 700;
  line-height: 1.62; 
  letter-spacing: 0.143em;
  
}

.underline-view-link{
  position: absolute;
  top: 33px;
  left: 0px;
 

}
.underline-view-link-small{
  position: absolute;
  top: 33px;
  left: 168px;
}