:root {
  /* colors */
  --color-black: hsla(0, 0%, 8%, 1);
  --color-accent-green: hsla(154, 71%, 59%, 1);
  --color-dark-grey: hsla(0, 0%, 14%, 1);
  --color-grey: hsla(0, 0%, 85%, 1);
  --color-white: hsla(0, 0%, 100%, 1);
  --color-red: hsla(7, 100%, 68%, 1);
}

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: var(--color-black);
  color: var(--color-white);
  margin:0;
}
.link {
  text-decoration: none;
  color: var(--color-white);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover{
  color: var(--color-accent-green);
  }
  .link:focus{
    color: var(--color-accent-green);
    }
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  min-width: 320px;
  max-width: 343px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: auto;
  margin-left: auto;
}

/* tablet styles */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 712px;
    padding-left: 28px;
    padding-right: 28px;
  }
}

/* desktop styles */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 165px;
    padding-right: 165px;
  }
}


.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;}
/**
  |============================
  | header
  |============================
*/
.header-links{
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;

  width: 174px;
  
}
@media only screen and (min-width: 768px) {
  .header-links {
  flex-direction: row;
  width: 708px;
  gap: 344px;
  background: none;
  }
}
@media only screen and (min-width: 1440px) {
  .header-links {
  justify-content: space-between;
  width: 1110px;
  
  }
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
 padding-top: 20px;
  max-height: 363px;
}

@media only screen and (min-width: 768px) {
  .header-container {
    align-items: end;
    padding-top: 29px;
    max-height: 29px;
}}

.header-text {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -0.021em;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
   .header-text{
    font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 1;
letter-spacing: -0.444px;
margin-bottom: 0;
}}

.header-socials {
  display: flex;
  gap: 18px;
  max-width: 154px;
  z-index: 20;

}

@media only screen and (min-width: 768px) {
  .header-socials  {
    gap: 22px;
    max-width: 192.5px;
  }
}
.header-social-link
{
  color: var(--color-white);
  z-index: 30;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-social-link:hover{
  color: var(--color-accent-green);
}

.header-social-link:focus{
  color: var(--color-accent-green);
}

.header-icon{
fill: currentColor;
z-index: 40;
}

@media only screen and (min-width: 768px) {
  .header-icon{
    width: 25px;
    height: 25px;
  }
}




.profile-image{
  display: block;
  position: relative;
  top: -92px;
  z-index: 1;
  width: 174px;
}

@media only screen and (min-width: 768px) {
  .profile-image{
    width: 350px;
    top: -61px;
    left: 28px;
  }
}

@media only screen and (min-width: 1440px) {
  .profile-image{
    width: 445px;
  }
}

.svg{
  position: relative;

}
.oval{
  position: absolute;
 top: 32px;
 left: -430px;
 
}

@media only screen and (min-width: 768px) {
  .oval{
   left: -995px;
   top: 25px;
   
  
  }
}
@media only screen and (min-width: 1440px) {
  .oval{
   left: -1275px;
   top: 20px;
  
  }
}

.half-circle{
  position: absolute;
 top: 112px;
 left: 123px;
z-index: 100;
}


@media only screen and (min-width: 768px) {
  .half-circle{
   top: 376px;
   left: -36px;
  
  }
}



/**
  |============================
  | section-intro
  |============================
*/


.section-intro {
  padding-top: 40px;
  padding-bottom: 92px;
}

@media only screen and (min-width: 768px) {
  .section-intro {
    padding-top: 90px;
    padding-bottom: 72px;
    
  }
}
@media only screen and (min-width: 1440px) {
  .section-intro {
    padding-top: 127px;
    padding-bottom: 231px;
    
  }
}

.intro-container{
  text-align: center;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .intro-container{
    text-align: left;
    z-index: 15;

  }
}

  .intro-content{
    max-width: 343px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

@media only screen and (min-width: 768px) {
  .intro-content{
    max-width: 445px;
    margin-left: 0;
    margin-right: 0;
  } 
}

@media only screen and (min-width: 1440px) {
  .intro-content{
    max-width: 750px;
  } 
}  

.section-title {
  
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 1;
letter-spacing: -0.028em;
}

@media only screen and (min-width: 768px) {
  .section-title{
    
    font-size: 72px;
    letter-spacing: -0.005em;
    margin-bottom: 66px;
  }
}

@media only screen and (min-width: 1440px) {
  .section-title{
    position: relative;
    font-size: 88px;
    z-index: 10;
    margin-bottom: 43px;
  }
}

.undertitle-line{
  width: 225px;
  height: 4px;
  position: absolute;
  top: 80px;
  left: 86px;
}

@media only screen and (min-width: 768px) {
  .undertitle-line{
    width: 416px;
    height: 8px;
    top: 227px;
    left: 0px;
  }
}

@media only screen and (min-width: 1440px) {
  .undertitle-line{
    width: 510px;
    height: 10px;
    top: 176px;
    left: 142px;
    z-index: 1;
  }
}

.hero-text {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 16px;
line-height: 1.6;
}

@media only screen and (min-width: 768px) {
 .hero-text{
  font-size: 18px;
  margin-bottom: 34px;
 }
}

@media only screen and (min-width: 1440px) {
  .hero-text{
   max-width: 445px;
   margin-bottom: 66px;
  }
 }

.contact{
  display: inline-block;
  position: relative;
  width: 120px;
}
.link-contact {
  font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 1,62;
letter-spacing: 0.143em;
}

.underlink-line{
  position:absolute;
  top: 35px;
  left: 0;
}


/**
  |============================
  | section-skills
  |============================
*/
.section-skills {
  padding-top: 40px;
  padding-bottom: 40px;

}

@media only screen and (min-width: 768px) {
  .section-skills{
   padding-top: 52px;
   padding-bottom: 100px;
 }
}
@media only screen and (min-width: 1440px) {
  .section-skills{
   padding-top: 72px;
   padding-bottom: 140px;
 }
}

.skills-container{
  text-align: center;
  position: relative;
}
@media only screen and (min-width: 768px) {
   .skills-container{
   text-align: left; 
  }
}


.svg-line-container{
  position: relative;
  height: 20px;
}

.between-sections-line{
position: absolute;
top: -40px;
left: 0px;
}

@media only screen and (min-width: 768px) {
  .between-sections-line{
    width: 712px;
    height: 3px;
  }
}
@media only screen and (min-width: 1440px) {
  .between-sections-line{
    width: 1110px;
    height: 4px;
  }
}


@media only screen and (min-width: 768px) {
  .experience-list{
  display: flex;
  flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1440px) {
   .experience-list{
    gap: 35px;
  }
}

.skill-item{
font-size: 32px;
font-weight: 700;
line-height: 1.25;
letter-spacing: -0.001em;
}

@media only screen and (min-width: 768px) {
  .skill-item{
    font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 1.16;
letter-spacing: -0.031em;
    
  }
}

@media only screen and (min-width: 768px) {
   .skill-item{
    width: 345px;
  }
}

.skill-item:not(:last-child){
  margin-bottom: 24px;
}

.skill-item-descr{
  margin: 0;
font-size: 16px;
font-weight: 400;
line-height: 1.62;
letter-spacing: -0.015em;
color: var(--color-grey);

}

@media only screen and (min-width: 768px) {
   .skill-item-descr{
    margin-top: 14px;
    font-size: 18px;
line-height: 1.55
  }
}

.oval-section-skills{
  position: absolute;
  width: 196px;
  top: 512px;
  left: 179px;
}

@media only screen and (min-width: 768px) {
  .oval-section-skills{
    width: 291px;
    top: 334px;
    left: 478px;
  }
}

@media only screen and (min-width: 1440px) {
  .oval-section-skills{
    top: 180px;
    left: 1149px;
  }
}



/**
  |============================
  | section-projects
  |============================
*/
.section-projects{
  padding-top: 80px;
  padding-bottom: 92px;
}

@media only screen and (min-width: 768px) {
  .section-projects{
    padding-top: 0;
    padding-bottom: 112px;
  }
}

.project-container{
  position: relative;
}

.projects-header{
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .projects-header{
    align-items: center;
  }
}

.between-sections-projects{
  position: absolute;
  top: -80px;
}

@media only screen and (min-width: 768px) {
  .between-sections-projects{
  display: none;
  }
}

.project-title{
  margin-bottom: 0px;
}

.link-contact-project{
  padding-top: 4px;
}


.list-projects{
  margin-top: 40px;
}

@media only screen and (min-width: 768px) {
  .list-projects{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
   row-gap: 72px;
  }
}
@media only screen and (min-width: 1440px) {
  .list-projects{
    margin-top: 80px;
    column-gap: 30px;
   row-gap: 69px;

  }
}

.list-project-item:hover .overlay{
  cursor: pointer;
  transform: translateY(0%);
}

.list-project-item:not(:last-child){
margin-bottom: 52px;
}

@media only screen and (min-width: 768px) {
  .list-project-item:not(:last-child){
    margin-bottom: 0px;
    }
}

@media only screen and (min-width: 1440px) {
  .project-image{
width: 540px;
  }
}

.project-name{
  margin-top: 0px;
margin-bottom: 0px;
font-size: 24px;
line-height: 1.33; 
font-weight: 700;
}

.section-project-text{
  position: relative;
  z-index: 20;
  background:var(--color-black);
  margin-top: -5px;
  padding-top: 20px;
}

.skills-list{
  margin-top: 7px;
  display: flex;
  gap: 18px;


}

.skills-list-item{
  font-size: 18px;
font-weight: 500;
line-height: 1.55;
color: var(--color-grey);

}
.listed-links{
margin-top: 20px;
display: flex;
  gap: 32px;
  
}

@media only screen and (min-width: 1440px) {
  .listed-links{
    margin-top: 0;
    height: 400px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
      gap: 60px;
    }
}

.listed-links-item{
  font-size: 16px;
  font-weight: 700;
  line-height: 1.62; 
  letter-spacing: 0.143em;
  position: relative;
}

.underline-view-link{
  position: absolute;
  top: 33px;
  left: 0px;
 

}
.underline-view-link-small{
  position: absolute;
  top: 33px;
  left: 0px;
}

@media only screen and (min-width: 1440px) {
  .overlay {
    position: absolute;
    width: 100%;
    height: 400px;
    background: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    z-index: 1;
    transform: translateY(150%);
  
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .box-overlay {
    position: relative;
    overflow: hidden;
}
}


/**
  |============================
  | section contact
  |============================
*/

.section-contact{
  padding-top: 60px;
  padding-bottom: 87px;
  text-align: center;
  background-color: var(--color-dark-grey);
}

@media only screen and (min-width: 768px) {
  .section-contact{
    padding-bottom: 104px;
  }
}
@media only screen and (min-width: 1440px) {
  .section-contact{
    padding-top: 84px;
  }
}

@media only screen and (min-width: 768px) {
.contact-container{
  max-width: 445px;
}
}

@media only screen and (min-width: 1440px) {
  .contact-container{
    max-width: 1110px;
    display: flex;
    gap: 220px;
  }
  }

.contact-title {
  margin-bottom: 20px;
}

@media only screen and (min-width: 1440px) {
  .contact-title {
    text-align: left;
    margin-bottom: 36px;
  }
}

.contact-text{
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--color-grey);
  line-height: 1.62
}

@media only screen and (min-width: 768px) {
  .contact-text{
    font-size: 18px;
    line-height: 1.55;
  }
}

@media only screen and (min-width: 1440px) {
  .contact-text{
   width: 445px;
   text-align: left;

  }
}

.contact-form {
  position: relative;
}


.contact-input {
display: block;
border: none;
padding-left: 24px;
padding-bottom: 17px;

margin-left: auto;
margin-right: auto;
width: 317px;
height: 25px;
background-color: transparent;
outline: none;
border-bottom: 1px solid var(--color-white);
color: var(--color-white);
transition-property: transform;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-input:hover{
  border-bottom: 1px solid var(--color-accent-green);
}
.contact-input:focus{
  border-bottom: 1px solid var(--color-accent-green);
}

.contact-input:invalid{
  border-bottom: 1px solid var(--color-red);
}

@media only screen and (min-width: 768px) {
  .contact-input{
   width: 419px;
 }
}

.contact-input::placeholder{
  font-size: 16px;
}

.email-error{
margin-top: 8px;
color: var(--color-red);
font-size: 12px;
display: block;
text-align: right;
}

.contact-textarea{
  width: 317px;
  height: 26px;
  border: none;
  padding-left: 24px;
  padding-bottom: 81px;
  margin-bottom: 32px;
  background-color: transparent;
  outline: none;
  border-bottom: 1px solid var(--color-white);
  color: var(--color-white);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-textarea:hover{
  border-bottom: 1px solid var(--color-accent-green);
}
.contact-textarea:focus{
  border-bottom: 1px solid var(--color-accent-green);
}

@media only screen and (min-width: 768px) {
   .contact-textarea{
    width: 419px;
  }
}

.contact-textarea::placeholder{
  font-size: 16px;
}

.contact-item{
position: relative;
}

.contact-item:not(:last-child){
  margin-bottom: 32px;
}


.contact-btn{
  position: relative;
}

.btn-contact-form{
margin-left: 199px;
border: none;
height: 26px;
width: 142px;
font-size: 16px;
font-weight: 400;
line-height: 1.62;
color: var(--color-white);
background-color: transparent;
letter-spacing: 0.01em;
cursor: pointer;
transition-property: transform;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-contact-form:hover{
  color: var(--color-accent-green);
}
.btn-contact-form:focus{
  color: var(--color-accent-green);
}

@media only screen and (min-width: 768px) {
  .btn-contact-form{
    margin-left: 301px;
  }
}

.underbutton-line-contact{
  position: absolute;
  top: 36px;
  left: 200px
}

@media only screen and (min-width: 768px) {
  .underbutton-line-contact{
    left: 300px
  }
}

.section-contact-oval{
  position: relative
}
.oval-contact {
  position: absolute;
  top: -137px;
  left: -157px;
}

@media only screen and (min-width: 768px) {
  .oval-contact {
    top: -65px;
    left: -325px;
  }
}
@media only screen and (min-width: 1440px) {
  .oval-contact {
    top: 243px;
    left: -1495px;
  }
}

/**
  |============================
  | footer
  |============================
*/

.footer{
  background-color: var(--color-dark-grey);

  padding-top: 39px;
  padding-bottom: 60px;
}

.footer-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .footer-container{
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-text{
  margin: 0;
  font-size: 24px;
}

@media only screen and (min-width: 768px) {
   .footer-text{
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.444px;
  }
}

.footer-line{
  position: absolute;
  top: -39px;

}

@media only screen and (min-width: 768px) {
  .footer-line{
  width: 706px;
  height: 3px;
  }
}

@media only screen and (min-width: 1440px) {
  .footer-line{
  width: 1110px;
  height: 4px;
  }
}

.copy{
  display: flex;
  flex-direction: column;
  font-size: 10px;
  margin-top: 50px;
}